* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .left {
  margin-left: 10px;
}

.header .right {
  margin-right: 10px;
}

.main {
  flex: 1;
  height: 100%;
  background: rgba(212, 211, 211, 0.5);
}

.main .m-top {
  width: 100%;
  height: 228px;
  background: rgba(255, 157, 0, 0.918);
  color: #fff;
}

.main .m-top .m-top-top {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .m-top .m-top-top .m-left {
  margin-left: 10px;
}

.main .m-top .m-top-top .m-left .logo {
  font-size: 20px;
}

.main .m-top .m-top-top .m-left .font {
  font-size: 12px;
  margin-left: 5px;
}

.main .m-top .m-top-top .m-right {
  margin-right: 10px;
}

.main .m-top .m-top-top .m-right .icon-geren9 {
  font-size: 30px;
}

.main .m-top .m-top-bottom {
  width: 100%;
  height: 80px;
}

.main .m-top .m-top-bottom .quan {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #fff;
}

.main .m-top .m-B-bottom {
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.main .m-bottom {
  width: 100%;
  height: 220px;
  background: #fff;
}

.main table {
  border-collapse: collapse;
}

.main td {
  border: 1px solid rgba(224, 222, 222, 0.8);
}

.main dl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main dl dt {
  padding-bottom: 10px;
}

.main dl dt .icon-qian {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.main dl dt .icon-tuijian {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.main dl dt .icon-bangzhu {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.main dl dt .icon-buoumaotubiao26 {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.main dl dt .icon-leimupinleifenleileibie {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.main dl dt .icon-jilu {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.main dl dt .icon-xiugai {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.main dl dt .icon-tuichu {
  font-size: 30px;
  font-weight: 800;
  color: orange;
}

.footer {
  width: 100%;
  height: 45px;
  display: flex;
  text-align: center;
}

.footer .home {
  flex: 1;
}

.footer .home .icon-shouye {
  font-size: 25px;
}

.footer .mine {
  flex: 1;
}

.footer .mine .icon-geren9 {
  font-size: 25px;
}

.footer .text {
  font-size: 13px;
}

.active {
  color: orange;
}

.logon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.l-header {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-header .left {
  margin-left: 10px;
}

.l-header .right {
  margin-right: 10px;
}

.l-m-top {
  width: 100%;
  height: 45px;
  background: orange;
  line-height: 45px;
}

.l-m-top .l-logo {
  font-size: 22px;
  color: #fff;
  margin-left: 5px;
}

.l-m-top .l-font {
  font-size: 15px;
  margin-left: 5px;
  color: #fff;
}

.input-box {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  position: relative;
}

.input-box .user, .input-box .xx, .input-box .pwd {
  width: 100%;
  height: 40px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.input-box .u-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid #ccc;
  background: #fff;
}

.input-box .u-left span {
  font-size: 25px;
}

.input-box .u-right {
  flex: 9;
}

.input-box .u-right input {
  width: 100%;
  height: 100%;
  background: #fff;
  outline: none;
  border: none;
}

.button {
  width: 90%;
  height: 35px;
  margin: 30px 5%;
  border: none;
  background: orange;
  color: #fff;
  outline: none;
  border-radius: 5px;
}

.erweima {
  width: 100px;
  height: 30px;
  background: #ccc;
  position: absolute;
  top: 46px;
  right: 15px;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  line-height: 30px;
  color: #fff;
}
